#del-dialog-header {
  margin-bottom: 30px;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.list-group {
  margin-top: 2em;
  padding-left: 14px;
}

.section {
  padding-right: 4vw;
}

a.btn {
  width: 8em;
}

#reminder {
  max-width: 14em;
  float: right;
}

#reminder-group {
  margin-top: 1em;
}

#edit-reminder {
  margin-bottom: 1em;
}

a.disabled {
  pointer-events: none;
}

.done {
  margin-right: 10px;
}

.todoName {
  display: inline-block;
}

.reminder {
  padding-left: 22px;
}
