<form role="form" (ngSubmit)="onSubmit()">
  <div class="form-group">

    <div class="input-group" [formGroup]="todoForm">
      <input type="text"
              class="form-control"
              placeholder="title"
              formControlName="todo"
              required>
      <span class="input-group-btn">
        <a class="btn btn-default"
            [class.disabled]="!todoForm.valid"
            (click)="onSubmit();">
          New Todo
        </a>
      </span>
    </div>
    <div *ngIf="formErrors.todo" class="alert alert-danger">
      {{ formErrors.todo }}
    </div>

    <div class="input-group text-right" id="reminder-group" [formGroup]="todoForm">
      <input [type]="reminderInputType"
              class="form-control"
              id="reminder"
              [min]="minDateTime()"
              formControlName="reminder">
      <span class="input-group-btn">
        <a class="btn btn-default"
            (click)="toggleReminderInputType()">
          Set Reminder
        </a>
      </span>
    </div>
    <div *ngIf="formErrors.reminder" class="alert alert-danger">
      {{ formErrors.reminder }}
    </div>
  </div>
</form>
