<div class="container">
  <h3>My Todos</h3>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-{{colMd}}">
        <form role="form">
          <div class="form-group">
            <label class="control-label" for="newTodo">New todo</label>
            <input class="form-control"
                   id="newTodo"
                   placeholder="todo"
                   type="text"
                   #newTodo>
          </div>
          <button class="btn btn-default"
                  (click)="create(newTodo.value); newTodo.value=''">
            Add
          </button>
        </form>
        <div style="height: 2em"></div>
        <ul class="list-group">
          <div *ngFor="let todo of todos" class="container" [dragula]="first-bag" [dragulaModel]="items">
            <li class="list-group-item clearfix"
                (click)="update(todo); $event.stopPropagation()"
                role="button">
              <input type="checkbox" [checked]="todo.done">
              <span>{{todo.todo}}</span>
              <span class="pull-right">
                <span>
                  <button class="btn btn-xs btn-primary"
                          (click)="showModal(todo, 'edit'); $event.stopPropagation()">
                    Edit
                  </button>
                </span>
                <span>
                  <button class="btn btn-xs btn-danger"
                          (click)="showModal(todo, 'delete'); $event.stopPropagation()">
                    Delete
                  </button>
                </span>
              </span>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-dialog [(dialogOptions)]="showDialog" #dialog>

  <div *ngIf="showDialog.type === 'delete'">
    <div class="text-center">
      <h1 id="del-dialog-header">Are you shure?</h1>
      <div class="container-fluid">
        <div class="row row-centered">
          <div class="col-md-4 col-centered">
            <button class="btn-block btn btn-lg btn-primary"
                    (click)="dialog.cancel()">
              No
            </button>
          </div>
          <div class="col-md-4 col-centered">
            <button class="btn-block btn btn-lg btn-danger"
                    (click)="delete(); dialog.cancel()">
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showDialog.type === 'edit'">
    <div class="container-fluid">
      <h3>Edit task</h3>
      <div class="form-group" *ngIf="selectedTodo">
        <label class="control-label" for="task">Todo: </label>
        <input class="form-control"
               id="task"
               (keyup.enter)="update(); dialog.cancel()"
               [(ngModel)]="selectedTodo.todo" placeholder="todo">
      </div>
      <button class="btn btn-default" (click)="dialog.cancel()">
        Cancel
      </button>
      <button class="btn btn-primary" (click)="update(); dialog.cancel()">
        Save
      </button>
    </div>
  </div>

</app-dialog>
