<div class="container">
  <h3>My Todos</h3>
</div>
<div class="section">
  <div class="container">
    <form role="form">
      <div class="form-group">
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 placeholder="todo"
                 #newTodo
                 (keyup.enter)="create(newTodo.value); newTodo.value=''; remindDate.value = ''">
          <span class="input-group-btn">
            <a class="btn btn-default"
               (click)="create(newTodo.value, remindDate.value); newTodo.value=''; remindDate.value = ''">
              New Todo
            </a>
          </span>
        </div>
        <div class="input-group text-right" id="reminder-group">
          <input [type]="reminderInputType"
                 class="form-control"
                 id="reminder"
                 #remindDate>
          <span class="input-group-btn">
            <a class="btn btn-default"
               (click)="toggleReminderInputType()">
              Set Reminder
            </a>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="list-group container" [dragula]="'todos-list-bag'">
    <li *ngFor="let todo of todos"
        class="list-group-item clearfix"
        [id]="todo._id"
        (click)="update(todo); $event.stopPropagation()"
        role="button">
      <input type="checkbox" [checked]="todo.done">
      <span>{{todo.todo}}</span>
      <span class="pull-right">
        <span *ngIf="todo.reminder">
          Reminder: {{todo.reminder}}
        </span>
        <span>
          <button class="btn btn-xs btn-primary"
                  (click)="showModal(todo, 'edit'); $event.stopPropagation()">
            Edit
          </button>
        </span>
        <span>
          <button class="btn btn-xs btn-danger"
                  (click)="showModal(todo, 'delete'); $event.stopPropagation()">
            Delete
          </button>
        </span>
      </span>
    </li>
  </div>
</div>

<app-dialog [(dialogOptions)]="showDialog" #dialog>

  <div *ngIf="showDialog.type === 'delete'">
    <div class="text-center">
      <h2 id="del-dialog-header">Are you shure?</h2>
      <div class="container-fluid">
        <div class="row row-centered">
          <div class="col-md-4 col-centered">
            <button class="btn-block btn btn-lg btn-default"
                    (click)="dialog.cancel()">
              No
            </button>
          </div>
          <div class="col-md-4 col-centered">
            <button class="btn-block btn btn-lg btn-danger"
                    (click)="delete(); dialog.cancel()">
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showDialog.type === 'edit'">
    <div class="container-fluid">
      <div class="text-center">
        <h2>Edit task</h2>
      </div>
      <div class="form-group" *ngIf="selectedTodo">
        <label class="control-label" for="task">Todo: </label>
        <input class="form-control"
                id="task"
                (keyup.enter)="update(); dialog.cancel()"
                [(ngModel)]="selectedTodo.todo" placeholder="todo">

        <label class="control-label" for="edit-reminder">Reminder: </label>
        <input type="datetime-local"
               class="form-control"
               id="edit-reminder"
               [(ngModel)]="selectedTodo.reminder">
        <div class="text-right">
          <button class="btn btn-default" (click)="cancel(); dialog.cancel()">
            Cancel
          </button>
          <button class="btn btn-primary" (click)="update(); dialog.cancel()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

</app-dialog>
